<div class="col-xs--12">
   <a routerLink="/books/new" class="btn btn-primary">Nouveau livre</a>
    <div class="card" *ngFor="let book of books; let i = index">
        <h1>{{book.title}}</h1>
        <h2><i>Ecrit par: {{book.author}}</i></h2>
        <div class="col-6" *ngIf="book.photo">
            <img src="{{book.photo}}" alt="Couverture de {{book.title}}" title="Couverture de {{book.title}}" class="img-fluid rounded">
        </div>
        <blockquote *ngIf="book.synopsis">
            <p>{{book.synopsis}}</p>
        </blockquote>
        <hr>
        <div class="button-group">
            <button class="btn btn-primary" (click)="nextPage(i)">Infos +</button>
            <a class="btn btn-danger pull-right" (click)="removeBook(book)"><span class="glyphicon glyphicon-minus"></span> Supprimer le livre</a>
        </div>
        <hr>
    </div>
</div>